* {
    text-align: center;
}

.indeximg {
    height: auto;
    width: 500px;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ptext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.opener {
    font-weight: bold;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    background-color: #008f0080;
}

.lists {
    text-align: center;
}
.lists > ul, ol {
    display: inline-block;
    list-style-position: inside;
}